:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  text-decoration: none;
  list-style: none;
}

a,
li {
  font-size: 1.7rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
}

/*//////////////////////////////////////////////////////// 
                       HEADER
/////////////////////////////////////////////////////////*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  padding: 0.2rem;
  border: 3px solid #96007d;
  border-radius: 50%;
}
header h1 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
header p {
  font-weight: 600;
}

/*//////////////////////////////////////////////////////// 
                   MAIN
/////////////////////////////////////////////////////////*/
main {
  text-align: center;
  margin-top: 2rem;
  width: 75%;
}

li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #96007d;
  color: #ffffff;
  font-weight: 500;
  border-radius: 30px;
  margin-bottom: 1.5rem;
  height: 4rem;
  transition: all 0.5s;
}
li a:hover {
  background-color: #640154;
}

/*///////////////////////////////////////////////////////// 
                FOOTER
/////////////////////////////////////////////////////////*/
footer {
  display: flex;
  position: relative;
  bottom: 0;
  margin-top: 0.5rem;
  transition: fill 0.5s;
  font-weight: 600;
}
footer svg {
  fill: #300028;
  transition: 0.5s;
}
footer address {
  padding-left: 0.4rem;
  font-style: normal;
}

/*//////////////////////////////////////////////////////
                     MEDIA SCREEN 720
////////////////////////////////////////////////////////*/
@media (min-width: 720px) {
  .container {
    width: 90%;
  }
  .container main {
    width: 62%;
  }
}
/*//////////////////////////////////////////////////////
                   MEDIA SCREEN 850
////////////////////////////////////////////////////////*/
@media (min-width: 850px) {
  .container {
    width: 80%;
  }
  .container main {
    width: 60%;
  }
}
/*//////////////////////////////////////////////////////
                   MEDIA SCREEN 950
////////////////////////////////////////////////////////*/
@media (min-width: 950px) {
  .container {
    width: 70%;
  }
  .container main {
    width: 60%;
  }
}
/*//////////////////////////////////////////////////////
                   MEDIA SCREEN 1024
////////////////////////////////////////////////////////*/
@media (min-width: 1024px) {
  .container {
    width: 65%;
  }
  .container main {
    width: 62%;
  }
}
/*//////////////////////////////////////////////////////
                   MEDIA SCREEN 1440
////////////////////////////////////////////////////////*/
@media (min-width: 1400px) {
  header img {
    width: 25rem;
    height: 25rem;
    margin-top: 4rem;
    padding: 0.4rem;
  }
  header h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  header p {
    font-size: 2rem;
  }
  /*//////////////////////// MAIN ///////////////////*/
  main li a {
    font-size: 3rem;
    height: 6rem;
  }
  main svg {
    transform: scale(1.5) translateY(-2px);
  }
  main .email {
    transform: scale(1.5) translateY(-3px);
  }
  /*//////////////////////// FOOTER ///////////////////*/
  footer {
    font-size: 2rem;
  }
  footer svg {
    width: 30px;
    transform: scale(1.5) translateY(2px);
  }
}
/*//////////////////////////////////////////////////////
                    MEDIA SCREEN 2550
////////////////////////////////////////////////////////*/
@media (min-width: 2550px) {
  header img {
    width: 40rem;
    height: 40rem;
    margin-top: 4rem;
    padding: 0.4rem;
  }
  header h1 {
    font-size: 6rem;
    margin-top: 0.5rem;
  }
  header p {
    font-size: 3rem;
  }
  /*//////////////////////// MAIN ///////////////////*/
  main li a {
    font-size: 5rem;
    height: 10rem;
    border-radius: 50px;
  }
  main svg {
    transform: scale(2.5) translateY(-4px);
    width: 30px;
  }
  main .email {
    transform: scale(2.5) translateY(-5px);
  }
  /*//////////////////////// FOOTER ///////////////////*/
  footer {
    font-size: 3rem;
  }
  footer svg {
    width: 50px;
    transform: scale(2) translateY(6px);
  }
}

/*# sourceMappingURL=style.css.map */
